<div class="benefits-list"><div class="benefits-item"><img src="{{ 'img_all-natural.png' | asset_url }}" loading="lazy" width="104.5" alt="Human grade" class="img_benefits">
<div class="benefits-label">Human <br>
Grade</div></div><div class="benefits-item"><img src="{{ 'img_all-natural_1.png' | asset_url }}" loading="lazy" width="104.5" alt="All natural" class="img_benefits">
<div class="benefits-label">ALL <br>
natural</div></div><div class="benefits-item"><img src="{{ 'img_zero-preservatives.png' | asset_url }}" loading="lazy" width="104.5" alt="Chemical free" class="img_benefits">
<div class="benefits-label">Chemical <br>
free</div></div><div class="benefits-item"><img src="{{ 'item_grain-free.png' | asset_url }}" loading="lazy" width="104.5" alt="Grain free" class="img_benefits">
<div class="benefits-label">Grain <br>
Free</div></div></div> {% schema %} {"tag":"section","name":"benefits","class":"section_benefits global-padding","presets":[{"name":"benefits","category":"Liquify"}]} {% endschema %}