<div class="header_background-image-wrapper"><div class="header_overlay-layer"></div>{% if collection.featured_image != blank %}    <div li-if="collection.featured_image != blank">
    <img src="{{ collection.featured_image | img_url: 'master' }}" loading="eager" li-object:src="collection.featured_image | img_url: 'master'" li-object:alt="collection.featured_image.alt" alt="{{ collection.featured_image.alt }}" class="header_background-image">
    </div>
{% endif %}</div> {% schema %} {"tag":"section","name":"collection_hero","class":"section_small-hero","presets":[{"name":"collection_hero","category":"Liquify"}]} {% endschema %}