<div class="padding-global collections-page"><div class="product_list-wrapper collections-page w-dyn-list"><div role="list" class="product_list collections-page w-dyn-items">{% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div role="listitem" class="product_list-item collections-page w-dyn-item">
    
    {% render 'product_item', product: product %}

    
</div>
{% endfor %}
</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div></div> {% schema %} {"tag":"section","name":"collection_products","class":"section_filters","settings":[{"id":"collection_collection","type":"collection","label":"Collection"},{"type":"range","id":"collection_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Collection","default":6}],"presets":[{"name":"collection_products","category":"Liquify"}]} {% endschema %}